body {
    margin: auto;
    text-align: center;
}

#note {
    font-size: 10em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#githubLink {
    position: absolute;
    bottom: 2em;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center
}
  
li {
    display: inline;
}
  
li a {
    display: inline-block;
    text-align: center;
    padding: 0.4em 1em;
    text-decoration: none;
    color: darkblue;
}

li a:link, li a:visited {
    color: darkblue;
}

.active {
    text-decoration: underline;
}